{
  "openapi": "3.0.1",
  "info": {
    "title": "Customer Management API",
    "description": "API for managing customer lists and customers within those lists",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.olimi.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/customer-lists": {
      "get": {
        "description": "Retrieves all customer lists with their UUIDs",
        "responses": {
          "200": {
            "description": "A list of customer lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer-lists/{contactListUUID}/customers": {
      "post": {
        "description": "Adds a new customer to the specified customer list",
        "parameters": [
          {
            "name": "contactListUUID",
            "in": "path",
            "description": "UUID of the customer list to add the customer to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The customer to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer successfully added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "delete": {
        "description": "Deletes a customer by its unique ID.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Unique ID of the customer to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully.",
            "content": {}
          },
          "400": {
            "description": "Invalid customer ID or customer not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_list_id}": {
      "get": {
        "description": "Fetches all customers in the specified customer list.",
        "parameters": [
          {
            "name": "customer_list_id",
            "in": "path",
            "description": "ID of the customer list (customer list).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers in the specified customer list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer list ID or error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/import": {
      "post": {
        "description": "Imports customers in bulk using a CSV file.",
        "requestBody": {
          "description": "CSV file containing customers to be imported.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file with customer data."
                  },
                  "customer_list_id": {
                    "type": "string",
                    "description": "CustomerList ID to which customers are being imported."
                  }
                },
                "required": [
                  "file",
                  "customer_list_id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customers imported successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imported_count": {
                      "type": "integer",
                      "description": "Number of customers successfully imported."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error occurred during the import process.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/show": {
      "get": {
        "description": "Shows the details of a customer by its ID.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of the customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specified customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer ID or customer not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/update": {
      "post": {
        "description": "Updates the details of a customer.",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "Unique ID of the customer to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated customer information.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Updated first name of the customer."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Updated last name of the customer."
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Updated phone number of the customer."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Updated email address of the customer."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Updated gender of the customer."
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "phone_number",
                  "email",
                  "gender"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Customer updated successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data or customer not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/create": {
      "post": {
        "description": "Creates a new customer in the specified customer list.",
        "requestBody": {
          "description": "The customer details, including name, phone number, email, and gender.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_list_id": {
                    "type": "string",
                    "description": "CustomerList ID where the customer is being added."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name of the customer."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the customer."
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number of the customer."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the customer."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Gender of the customer."
                  }
                },
                "required": [
                  "customer_list_id",
                  "first_name",
                  "last_name",
                  "phone_number",
                  "email",
                  "gender"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Customer created successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "description": "Retrieves all campaigns.",
        "responses": {
          "200": {
            "description": "A list of all campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while fetching campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/create": {
      "post": {
        "description": "Creates a new campaign.",
        "requestBody": {
          "description": "Details of the new campaign to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the campaign"
                  },
                  "customer_list_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the customer list associated with the campaign"
                  },
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the agent responsible for the campaign"
                  },
                  "working_day_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID identifying the working day schedule for the campaign"
                  },
                  "max_daily_minutes": {
                    "type": "integer",
                    "description": "Maximum number of minutes per day for the campaign"
                  },
                  "max_retries": {
                    "type": "integer",
                    "description": "Maximum number of retries allowed in the campaign"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the campaign"
                  },
                  "working_start_time": {
                    "type": "string",
                    "format": "time",
                    "description": "Start time of working hours for the campaign"
                  },
                  "working_end_time": {
                    "type": "string",
                    "format": "time",
                    "description": "End time of working hours for the campaign"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Status to activate or deactivate the campaign"
                  }
                },
                "required": [
                  "name",
                  "customer_list_id",
                  "agent_id",
                  "working_day_id",
                  "max_daily_minutes",
                  "max_retries",
                  "working_start_time",
                  "working_end_time",
                  "is_active"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, object invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "description": "Retrieves a specific campaign by its ID.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "ID of the campaign to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while retrieving the campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/delete": {
      "delete": {
        "description": "Deletes the specified campaign.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "ID of the campaign to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted successfully.",
            "content": {}
          },
          "400": {
            "description": "Unexpected error occurred while deleting the campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/update": {
      "post": {
        "description": "Updates the details of a specific campaign.",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "ID of the campaign to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated campaign details.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the campaign."
                  },
                  "working_day_id": {
                    "type": "string",
                    "description": "ID representing the working day schedule for the campaign."
                  },
                  "max_daily_minutes": {
                    "type": "integer",
                    "description": "Maximum minutes the campaign can run daily."
                  },
                  "max_retries": {
                    "type": "integer",
                    "description": "Maximum retries allowed per customer."
                  },
                  "description": {
                    "type": "string",
                    "description": "A short description of the campaign."
                  },
                  "working_start_time": {
                    "type": "string",
                    "format": "time",
                    "description": "Start time for the campaign in the format HH:MM:SS."
                  },
                  "working_end_time": {
                    "type": "string",
                    "format": "time",
                    "description": "End time for the campaign in the format HH:MM:SS."
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Indicates whether the campaign is active."
                  }
                },
                "required": [
                  "name",
                  "working_day_id",
                  "max_daily_minutes",
                  "max_retries",
                  "working_start_time",
                  "working_end_time",
                  "is_active"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Campaign details updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while updating the campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/company/update": {
      "post": {
        "description": "Updates the details of a specific company.",
        "requestBody": {
          "description": "Details of the company to be updated.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data[name]": {
                    "type": "string",
                    "description": "Name of the company"
                  },
                  "data[working_day_id]": {
                    "type": "string",
                    "description": "ID representing the working day schedule for the company"
                  },
                  "data[country_id]": {
                    "type": "string",
                    "description": "ID of the country where the company is located"
                  },
                  "data[working_start_time]": {
                    "type": "string",
                    "format": "time",
                    "description": "Start time for the company's operations in the format HH:MM:SS"
                  },
                  "data[working_end_time]": {
                    "type": "string",
                    "format": "time",
                    "description": "End time for the company's operations in the format HH:MM:SS"
                  },
                  "data[newsletter]": {
                    "type": "boolean",
                    "description": "Indicates whether the company subscribes to newsletters"
                  },
                  "server_id": {
                    "type": "string",
                    "description": "ID of the server associated with the company"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image associated with the company"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company details updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, object invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "description": "Retrieves a list of all countries.",
        "responses": {
          "200": {
            "description": "A list of all countries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier for the country"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the country"
                      },
                      "code": {
                        "type": "string",
                        "description": "The international dialing code of the country"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The official currency used in the country"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "code",
                      "currency"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while fetching countries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "description": "Retrieves a list of all supported languages.",
        "responses": {
          "200": {
            "description": "A list of supported languages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier for the language"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the language"
                      },
                      "code": {
                        "type": "string",
                        "description": "The ISO language code"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "code"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while fetching languages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer-list/{customer_list_id}/confirm": {
      "get": {
        "description": "Confirms the customers in the specified customer list.",
        "parameters": [
          {
            "name": "customer_list_id",
            "in": "path",
            "description": "ID of the customer list to confirm the customers.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers confirmed successfully.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer-list/{customer_list_id}": {
      "delete": {
        "description": "Deletes the specified customer list.",
        "parameters": [
          {
            "name": "customer_list_id",
            "in": "path",
            "description": "ID of the customer list to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "CustomerList deleted successfully.",
            "content": {}
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/frontend/customer-list": {
      "get": {
        "description": "Fetches all customer-list.",
        "responses": {
          "200": {
            "description": "List of customer-list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while fetching customer-list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new customer list.",
        "requestBody": {
          "description": "The customer list to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomerList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CustomerList created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer-list/{customer_list_id}/check-import": {
      "get": {
        "description": "Checks if the import of the customer list is completed.",
        "parameters": [
          {
            "name": "customer_list_id",
            "in": "path",
            "description": "ID of the customer list to check the import status.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import check successful.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer-list/{customer_list_id}/update": {
      "post": {
        "description": "Updates the details of the specified customer list.",
        "parameters": [
          {
            "name": "customer_list_id",
            "in": "path",
            "description": "ID of the customer list to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated customer list details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CustomerList updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerList"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customer-list/template/download": {
      "get": {
        "description": "Downloads a customer list template.",
        "responses": {
          "200": {
            "description": "Template downloaded successfully.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred while downloading template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "description": "Fetches a list of calls based on search parameters like name, campaign ID, and phone number.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name associated with the call",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign",
            "in": "query",
            "description": "Campaign ID associated with the call",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Phone number associated with the call",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of calls that match the query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Call"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/create": {
      "post": {
        "description": "Creates a new agent with specific call objectives, service description, and voice data.",
        "requestBody": {
          "description": "The data required to create an agent including call objectives, service description, voice ID, and sentences.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the agent"
                      },
                      "call_objectives": {
                        "type": "string",
                        "description": "Call objectives of the agent"
                      },
                      "service_description": {
                        "type": "string",
                        "description": "Service description for the agent"
                      }
                    }
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Voice ID associated with the agent"
                  },
                  "sentences": {
                    "type": "array",
                    "description": "Array of sentences used to train or describe the agent’s voice",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "description": "Sentence text"
                        },
                        "chunk": {
                          "type": "string",
                          "description": "Chunk or portion of the sentence"
                        },
                        "file_url": {
                          "type": "string",
                          "description": "URL to the sentence audio file"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "data",
                  "voice_id",
                  "sentences"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Agent successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "description": "Fetches a list of all agents.",
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error fetching agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "description": "Finds an agent by their unique ID.",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "ID of the agent to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Agent not found or invalid ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}/delete": {
      "delete": {
        "description": "Deletes an agent by their unique ID.",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "ID of the agent to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted successfully",
            "content": {}
          },
          "400": {
            "description": "Agent not found or invalid ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agent_id}/update": {
      "post": {
        "description": "Updates an existing agent by ID.",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "ID of the agent to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated data for the agent",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Updated name of the agent"
                      },
                      "call_objectives": {
                        "type": "string",
                        "description": "Updated call objectives"
                      },
                      "service_description": {
                        "type": "string",
                        "description": "Updated service description"
                      }
                    }
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Updated voice ID"
                  },
                  "sentences": {
                    "type": "array",
                    "description": "Updated array of sentences",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "description": "Updated sentence text"
                        },
                        "chunk": {
                          "type": "string",
                          "description": "Updated chunk of the sentence"
                        },
                        "file_url": {
                          "type": "string",
                          "description": "Updated URL for the sentence file"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "data",
                  "voice_id",
                  "sentences"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data or agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewCustomerList": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the new customer list"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the customer list"
          }
        }
      },
      "CustomerList": {
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the customer list"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer list"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the customer list"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the customer list was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the customer list was last updated"
          },
          "customers": {
            "type": "array",
            "description": "Array of customers in the customer list",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          }
        }
      },
      "UpdateCustomerList": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the customer list"
          },
          "description": {
            "type": "string",
            "description": "Updated description of the customer list"
          }
        }
      },
      "UpdateAgent": {
        "type": "object",
        "required": [
          "name",
          "call_objectives",
          "service_description",
          "voice_id",
          "sentences"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the agent"
          },
          "call_objectives": {
            "type": "string",
            "description": "Updated call objectives of the agent"
          },
          "service_description": {
            "type": "string",
            "description": "Updated service description of the agent"
          },
          "voice_id": {
            "type": "string",
            "description": "Updated voice ID associated with the agent"
          },
          "sentences": {
            "type": "array",
            "description": "Updated sentences for the agent’s training or voice simulation",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Updated sentence text"
                },
                "chunk": {
                  "type": "string",
                  "description": "Updated chunk of the sentence"
                },
                "file_url": {
                  "type": "string",
                  "description": "Updated URL for the sentence audio file"
                }
              }
            }
          }
        }
      },
      "AgentList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Agent"
        }
      },
      "NewAgent": {
        "type": "object",
        "required": [
          "name",
          "call_objectives",
          "service_description",
          "voice_id",
          "sentences"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the agent"
          },
          "call_objectives": {
            "type": "string",
            "description": "Call objectives of the agent"
          },
          "service_description": {
            "type": "string",
            "description": "Service description of the agent"
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID associated with the agent"
          },
          "sentences": {
            "type": "array",
            "description": "Sentences for the agent's training or voice simulation",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The sentence text"
                },
                "chunk": {
                  "type": "string",
                  "description": "Chunk or portion of the sentence"
                },
                "file_url": {
                  "type": "string",
                  "description": "URL for the sentence audio file"
                }
              }
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the agent"
          },
          "name": {
            "type": "string",
            "description": "Name of the agent"
          },
          "call_objectives": {
            "type": "string",
            "description": "Call objectives of the agent"
          },
          "service_description": {
            "type": "string",
            "description": "Service description for the agent"
          },
          "voice_id": {
            "type": "string",
            "description": "Voice ID associated with the agent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was created"
          }
        }
      },
      "Callback": {
        "type": "object",
        "required": [
          "call_sid",
          "call_summary",
          "call_status"
        ],
        "properties": {
          "call_sid": {
            "type": "string",
            "description": "Unique identifier for the call session (Call SID)"
          },
          "call_summary": {
            "type": "object",
            "description": "Summary of the call",
            "properties": {
              "transcript": {
                "type": "array",
                "description": "Conversation transcript with user and assistant roles",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Role of the participant in the conversation (e.g., 'user' or 'assistant')"
                    },
                    "content": {
                      "type": "string",
                      "description": "Content of the conversation by the respective role"
                    }
                  }
                }
              },
              "characters": {
                "type": "integer",
                "description": "Total number of characters spoken in the call"
              },
              "input_tokens": {
                "type": "integer",
                "description": "Number of input tokens used in the call"
              },
              "output_tokens": {
                "type": "integer",
                "description": "Number of output tokens used in the call"
              },
              "duration": {
                "type": "integer",
                "description": "Total duration of the call in seconds"
              }
            }
          },
          "call_status": {
            "type": "object",
            "description": "Status of the call",
            "properties": {
              "status": {
                "type": "string",
                "description": "Final status of the call (e.g., 'completed', 'failed')"
              }
            }
          }
        }
      },
      "Call": {
        "type": "object",
        "required": [
          "sid",
          "name",
          "phone",
          "campaign",
          "status"
        ],
        "properties": {
          "sid": {
            "type": "string",
            "description": "Unique identifier (SID) of the call"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the call"
          },
          "phone": {
            "type": "string",
            "description": "Phone number associated with the call"
          },
          "campaign": {
            "type": "string",
            "description": "Campaign ID associated with the call"
          },
          "status": {
            "type": "string",
            "description": "Status of the call (e.g., 'completed', 'in-progress')"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the call in seconds",
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "description": "Array of attachments related to the call",
            "items": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string",
                  "description": "URL to the uploaded attachment file"
                },
                "duration_in_sec": {
                  "type": "integer",
                  "description": "Duration of the attachment in seconds"
                }
              }
            },
            "nullable": true
          }
        }
      },
      "NewCustomer": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phoneNumber"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the customer"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the customer"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the customer"
          },
          "address": {
            "type": "object",
            "description": "Address of the customer",
            "properties": {
              "street": {
                "type": "string",
                "description": "Street address of the customer"
              },
              "city": {
                "type": "string",
                "description": "City of the customer"
              },
              "state": {
                "type": "string",
                "description": "State of the customer"
              },
              "zipCode": {
                "type": "string",
                "description": "Zip code of the customer"
              }
            }
          }
        }
      },
      "Language": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique identifier for a language"
            },
            "name": {
              "type": "string",
              "description": "The name of the language"
            },
            "code": {
              "type": "string",
              "description": "The ISO language code"
            }
          },
          "required": [
            "id",
            "name",
            "code"
          ]
        }
      },
      "GeneralAudio": {
        "type": "object",
        "properties": {
          "voice_id": {
            "type": "string",
            "description": "The identifier for the voice model used to generate audio."
          },
          "sentence": {
            "type": "string",
            "description": "The sentence to be converted into speech."
          }
        },
        "required": [
          "voice_id",
          "sentence"
        ]
      },
      "Extension": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name associated with the extension"
          },
          "trunk_name": {
            "type": "string",
            "description": "The trunk name associated with the extension"
          },
          "extension": {
            "type": "string",
            "description": "The extension number"
          },
          "type": {
            "type": "string",
            "description": "The type of the extension, e.g., SIP"
          }
        },
        "required": [
          "name",
          "trunk_name",
          "extension",
          "type"
        ]
      },
      "ContactList": {
        "type": "object",
        "required": [
          "uuid",
          "name"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the customer list"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer list"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "uuid",
          "firstName",
          "lastName",
          "email",
          "phoneNumber"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the customer"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the customer"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the customer"
          },
          "address": {
            "type": "object",
            "description": "Address of the customer",
            "properties": {
              "street": {
                "type": "string",
                "description": "Street address of the customer"
              },
              "city": {
                "type": "string",
                "description": "City of the customer"
              },
              "state": {
                "type": "string",
                "description": "State of the customer"
              },
              "zipCode": {
                "type": "string",
                "description": "Zip code of the customer"
              }
            }
          }
        }
      },
      "NewContact": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the customer"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the customer"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "required": [
          "name",
          "customer_list_id",
          "agent_id",
          "working_day_id",
          "max_daily_minutes",
          "max_retries",
          "description",
          "working_start_time",
          "working_end_time",
          "is_active"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the campaign"
          },
          "customer_list_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the customer list associated with the campaign"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the agent responsible for the campaign"
          },
          "working_day_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifying the working day schedule for the campaign"
          },
          "max_daily_minutes": {
            "type": "integer",
            "description": "Maximum number of minutes per day for the campaign"
          },
          "max_retries": {
            "type": "integer",
            "description": "Maximum number of retries allowed in the campaign"
          },
          "description": {
            "type": "string",
            "description": "Description of the campaign"
          },
          "working_start_time": {
            "type": "string",
            "format": "time",
            "description": "Start time of working hours for the campaign"
          },
          "working_end_time": {
            "type": "string",
            "format": "time",
            "description": "End time of working hours for the campaign"
          },
          "is_active": {
            "type": "boolean",
            "description": "Status to activate or deactivate the campaign"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier for a country"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the country"
                },
                "code": {
                  "type": "string",
                  "description": "The international dialing code for the country"
                },
                "currency": {
                  "type": "string",
                  "description": "The official currency used in the country"
                }
              },
              "required": [
                "id",
                "name",
                "code",
                "currency"
              ]
            }
          }
        },
        "required": [
          "countries"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "data[name]": {
            "type": "string",
            "description": "Name of the company"
          },
          "data[working_day_id]": {
            "type": "string",
            "description": "ID representing the working day schedule for the company"
          },
          "data[country_id]": {
            "type": "string",
            "description": "ID of the country where the company is located"
          },
          "data[working_start_time]": {
            "type": "string",
            "format": "time",
            "description": "Start time for the company's operations in the format HH:MM:SS"
          },
          "data[working_end_time]": {
            "type": "string",
            "format": "time",
            "description": "End time for the company's operations in the format HH:MM:SS"
          },
          "data[newsletter]": {
            "type": "boolean",
            "description": "Indicates whether the company subscribes to newsletters"
          },
          "server_id": {
            "type": "string",
            "description": "ID of the server associated with the company"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Image associated with the company"
          }
        },
        "required": [
          "data[name]",
          "data[working_day_id]",
          "data[country_id]",
          "data[working_start_time]",
          "data[working_end_time]",
          "server_id"
        ]
      },
      "Customer": {
        "type": "object",
        "required": [
          "uuid",
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the customer"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the customer"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}