{
  "openapi": "3.0.1",
  "info": {
    "title": "Contact Management API",
    "description": "API for managing contact lists and contacts within those lists",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.contactmanagement.com"
    }
  ],
  "paths": {
    "/contact-lists": {
      "get": {
        "description": "Retrieves all contact lists with their UUIDs",
        "responses": {
          "200": {
            "description": "A list of contact lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contact-lists/{contactListUUID}/contacts": {
      "post": {
        "description": "Adds a new contact to the specified contact list",
        "parameters": [
          {
            "name": "contactListUUID",
            "in": "path",
            "description": "UUID of the contact list to add the contact to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The contact to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact successfully added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contactUUID}": {
      "delete": {
        "description": "Deletes a contact based on the UUID supplied",
        "parameters": [
          {
            "name": "contactUUID",
            "in": "path",
            "description": "UUID of the contact to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted successfully",
            "content": {}
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "ContactList": {
        "type": "object",
        "required": ["uuid", "name"],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the contact list"
          },
          "name": {
            "type": "string",
            "description": "Name of the contact list"
          }
        }
      },
      "NewContact": {
        "type": "object",
        "required": ["firstName", "lastName", "email"],
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the contact"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the contact"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the contact"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": ["uuid", "firstName", "lastName", "email"],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the contact"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the contact"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the contact"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the contact"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
